<% layout('layouts/boilerplate')%>


<div style="display:flex; justify-content:center;">
    
<form action="/register" method="POST" class="validated-form" novalidate>
    
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="tc">T.C Kimlik No</label>
        <input class="form-control" type="text" id="tc" name="tc" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="phoneNumber">Phone number</label>
        <input class="form-control" type="phoneNumber" id="phoneNumber" name="phoneNumber" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <div><label class="form-label" for="address">Address</label></div>
        <textarea name="address" id="address" cols="50" rows="5"></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Register</button>
</form>
</div>